header {
  background-image: url("https://i.imgur.com/ak5zxH5.jpg");
  padding: 20px 0 20px 0;
}

h1 {
  color: white;
    background-color: rgba(25,25,25, 0.7);
  padding: 35px 5px 35px 5px;
  margin-left: 100px;
  margin-right: 110px;
  border-radius: 5px;
  font-size: 60px;
}
